{% extends "base.html" %}
{% load static %}

{% block contenido %}
<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h2 class="sitetitle">Sobre nosotros</h2>
		<p class="lead">
			 Informatorio - Desarrolo Web Comisión 2 Grupo 3

		</p>
	</div>
<!-- End Site Title
================================================== -->      
     
      <!-- section --> 

      <div class="section layout_padding">
         <div class="container" style="margin-top: 100px; margin-bottom: 200px;">
           
            <div class="row row-custom-1">
               <div class="col-md-5">
                  <img src="{% static 'images/nosotros_1.png' %}" alt="#" style="width: 100px; height: 100px;"/>
               </div>
               <div class="col-md-5">
                  <div class="full blog_cont">
                     <h4>Fabio Pierandrei</h4>
                     <h5>Comisión 2 Grupo 3</h5>
                     <p>29-12-2023</p>
                  </div>
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="{% static 'images/nosotros_1.png' %}" alt="#" style="width: 100px; height: 100px;" />
               </div>
               <div class="col-md-5">
                  <div class="full blog_cont">
                     <h4>Lazaro Machuanin</h4>
                     <h5>Comisión 2 Grupo 3</h5>
                     <p>29-12-2023</p>
                  </div>
               </div>
            </div>

            <div class="row margin_top_30">
               <div class="col-md-5">
                  <img src="{% static 'images/nosotros_1.png' %}" alt="#" style="width: 100px; height: 100px;"/>
               </div>
               <div class="col-md-5">
                  <div class="full blog_cont">
                     <h4>Reimon Sanchez</h4>
                     <h5>Comisión 2 Grupo 3</h5>
                     <p>29-12-2023</p>
                  </div>
               </div>
            </div>
            


            
      </div>
      <!-- end section -->
      {% endblock contenido %}
      
      